@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

.search{
  background-color: rgba(0, 0, 0, 10%);
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 300px;
}

.b-logo{
  height: 50px;
}
